/**
 * a style for the scenes - @author Yane Frenski
 */

 @font-face {
     font-family: "League";
     font-weight: normal;
     src: url("League-Gothic.otf");
 }

body {
  margin: 0px;
  background-color: #000000;
  overflow: hidden;
}

h3{
  font-family: League, Impact, Helvetica, Arial;
  font-size: 36px;
  font-weight: normal;
  color: #26272b;
  text-transform: uppercase;
  margin:0 0 10px 0;
  text-align:left;
  border-bottom: 1px solid #26272b;
}

.datadialog .ui-dialog-titlebar {display:none}
.datadialog { font-size: 14px; }

#div-controls{
  position: absolute;
  width: 100px;
  height: 150px;
  padding: 10px;
  background: #26272b;
  z-index: 9;
}

#div-controls ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#div-controls ul li{
  margin: 10px 5px;
}

#div-legend{
  background: #26272b;
  color: #eee;
  position: absolute;
  top: 0;
  right: 0;
  max-width: 80%;
  padding:10px;
  font-size: 11px;
  z-index:8;
}

#div-legend h4{
  margin: 0;
  font-size: 12px;
  font-style: italic;
}

#div-legend-data{
  margin-top:10px;
}

.div-legend-color{
  width: 10px;
  height: 10px;
}

.div-results{
  text-align: center;
  font-family: Helvetica, Arial, Verdana;
  font-size: 14px;
}


/* Buttons */
.general-button{
  width: 100px;
  padding:10px 0;
  text-align:center;
  color: #fff;
  background: #777777;
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
  cursor: pointer;
  line-height: 16px;
}

.general-button span{
  font-size: 12px;
  color: #ddd;
}

.general-button-b{
  width: 200px;
}

.general-button-disabled{
  background-color:#bbbbbb;
  cursor: inherit;
}

.element-centered{
  margin: auto;
}


/* Separators */
.separator_big_h{
  height: 20px;
  background: url('../img/separator_big_h.png') repeat-x left center;
}

.separator_hid10 { height: 10px; }
.separator_hid20 { height: 20px; }
.separator_hid30 { height: 30px; }
.separator_hid50 { height: 50px; }

/* Grid */
.left { float:left }
.right { float: right }
.clear { clear: both }

.col1-3 { width: 33% }
.col2-3 { width: 67% }

.col1-4 { width: 25% }
.col2-4 { width: 50% }
.col3-4 { width: 75% }

/* Explicit style*/
#jtsheet_exportbut {
  position: absolute;
  right: 10px ;
  top:10px;
}
/* Text styles */
.small-text{
  font-size: 12px;
}

/* canvas value label*/
#valuelabel{
  color: #fff;
  text-shadow: 1px 1px 2px #000;
  position: absolute;
  top: 200px;
  left: 500px;
  z-index: 9;
  font-size: 16px;
  display: none;
  padding: 10px;
  background: #26272b;
  border: 1px solid #fff;
}

#valuelabel p{
  font-size: 14px;
  margin:0;
  padding:0;
  font-style: italic;
}

/* jquery ui boxes */
#div-databox{
  display: none;
}
#div-exportbox{
  display: none;
}

/* footer for the preview */
#preview-footer{
  background-color: #26272B;
  position: absolute;
  right: 0;
  bottom: 0;
  color: #fff;
  padding: 10px;
  font-size: 12px;
  font-style: italic;
  text-align: right;
  z-index:11;
}

div#non-supported-errormsg{
  width: 200px;
  background-color: #26272B;
  position: absolute;
  z-index: 10;
  top: 40%;
  left: 50%;
  margin-left: -100px;
}
img#non-supported-img{
  width: 100%;
  height: 100%;
}