
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>3D Bar Chart - Three Graphs</title>
    <meta charset="utf-8">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css" rel="stylesheet"/>
    <style>
    
    .card p {
        font-size: 6rem;
    }

    .card {
        height: 100%;
    }
    
    </style>

</head>
  
  <body>
        <div> 
            <div class="row valign">
            
                <div class="my-wrapper col m2 offset-m2">
                    <div class="card">
                        <span class="card-title">Time to Complete Work on Cluster</span>
                        <div class="card-content center">
                            <p>54</p>
                        </div>
                    </div>
                </div>
                <div class="my-wrapper col m2">
                    <div class="card">
                        <span class="card-title">Number of Pictures Processed</span>
                        <div class="card-content center">
                            <p>54</p>
                        </div>
                    </div>
                </div>
                <div class="my-wrapper col m2">
                    <div class="card">
                        <span class="card-title">Cost Analysis with ACI</span>
                        <div class="card-content center">
                            <p>54</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <footer class="ui-footer" style="background:#fafafa; width:100%; position:fixed; z-index:99; clear:both;">
        <div class="container">
            <p>&copy; samuel.kreter@microsoft.com</p>
        </div>
        </footer>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    </body>
</html>